@import "src/styles/utils/media";
@import "src/styles/utils/variables";

.form {
  &__inputWrapper {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    color: $black;
    border: none;
    @include media-mobile {
     width: 80%;
    }
  }
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $purple;
}
