@import "src/styles/utils/media";
@import "src/styles/utils/variables";
.welcome{
  position: absolute;
  display: grid;
  justify-items: center;
  left: 40%;
  top: 30%;
  gap: 42px;
  &__items{
    display: grid;
    justify-items: center;
  }
  &__title{
    height: 82px;
    font-family:$font;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    color: $titleColor;
  }
  &__slogan{
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    color: $sloganColor;
  }
  &__container{
    margin: 20px 0 0 0;
  }
  &__button {
    background-color: $purple;
    display: flex;
    width: 144px;
    height: 45px;
    justify-content: center;
    border-radius: 15px;
    &:hover{
      cursor: pointer;
    }
  }
  &__btnText{
    width: 115px;
    height: 39px;
    font-weight: 700;
    font-size: 24px;
    color: $white;
    line-height: 29.05px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;

  }
}