@import "src/styles/utils/media";
@import "src/styles/utils/variables";
.welcome{
  font-family:$font;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
  height: 100vh;
  justify-content: center;
  &__items{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  &__title{
    height: 82px;
    font-family:$font;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    color: $titleColor;
  }
  &__slogan{
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    color: $sloganColor;
  }
  &__container{
    margin: 20px 0 0 0;
  }
  &__button {
    background-color: $purple;
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    border-radius: 15px;
    text-decoration: none;
    &:hover{
      cursor: pointer;
    }
  }
  &__btnText{
    font-weight: 700;
    font-size: 24px;
    color: $white;
    line-height: 29.05px;

  }
}