@import "src/styles/utils/media";
@import "src/styles/utils/variables";

.todo {
  display: flex;
  max-width: 1520px;
  min-width: 320px;
  margin: 95px 35vh;
  padding: 0 var(--inner-pd);
  flex-direction: column;
  gap: 20px;
  font-family: $font;

  &__addTask {
    display: flex;
    gap: 16px;
  }

  &__add {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
    color: $white;
    background-color: $purple;
    border-radius: 20px;
  }

  &__tasksContainer {
    display: flex;
    gap: 20px;
    font-family: $font;
    list-style: none;
  }

  &__taskItem {
    display: flex;
    padding-bottom: 5px;
    gap: 10px;
  }

  &__taskDelete {
    display: flex;
  }

  &__taskCheck {
    height: 30px;
  }

  &__notdoneTask {
    width: 71px;
    height: 29px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: left;
  }

  &__doneTask {
    width: 71px;
    height: 29px;
    text-decoration: line-through;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: left;
  }
}

:global {
  .ant-checkbox-inner {
    transform: scale(1.3);
  }
}
