// fonts
$font: "Montserrat", "Inter", sans-serif;
$fontSlogan: "Industry", "Inter", sans-serif;

// colors
$black: #1a1b1b;
$white: #fff;
$titleColor: #5E5E5E;
$sloganColor: #bebebe;
$red: #ef6161;
$gray: #5d5d5d;
$purple: #B47AEA;

// media
$mediaWidthTablet: 1259px;
$mediaWidthMob: 767px;
