// fonts
$font: "Montserrat", "Arial", sans-serif;
$fontSlogan: "Industry", "Arial", sans-serif;

// colors
$black: #1a1b1b;
$white: #fff;
$titleColor: #5E5E5E;
$subtitleColor: #bebebe;

// media
$mediaWidthTablet: 1259px;
$mediaWidthMob: 767px;
